# Você precisa atualizar o caminho da variável 'library' abaixo 
# para apontar para onde o SoftHSM2 está instalado no SEU computador.
# 
# Exemplos comuns de caminhos:
# Windows: C:\SoftHSM2\lib\softhsm2-x64.dll
# Linux:   /usr/lib/softhsm/libsofthsm2.so
# Mac:     /usr/local/lib/softhsm/libsofthsm2.so

name = SoftHSM2
library = C:\SoftHSM2\lib\softhsm2-x64.dll
slotListIndex = 0